databases:
  - name: smart-quote-db
    databaseName: smart_quote_api_production
    user: smart_quote_api
    plan: free

services:
  - type: web
    name: smart-quote-api
    runtime: docker
    dockerContext: smart-quote-api
    dockerfilePath: smart-quote-api/Dockerfile
    plan: free
    region: singapore # Closest to KR/User
    envVars:
      - key: RAILS_MASTER_KEY
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: smart-quote-db
          property: connectionString
      - key: RAILS_LOG_TO_STDOUT
        value: 'true'
      - key: SECRET_KEY_BASE
        generateValue: true
